.table-pegawai thead {
    background-color: #FFDB58;
    text-align: center;
}
.table-pegawai tbody {
    background-color: #EEE8AA;
    text-align: left;
}
.table-pegawai tfoot {
    background-color: #FFFF00;
    text-align: center;
}
.table-pegawai{
    border: 1px solid black;
    border-collapse: collapse;
    width: 40%;
    margin: 0 auto;
}
.table-pegawai th {
    padding: 8px;
    border: 1px solid #000;
}
.table-pegawai td{
    padding: 8px;
    border: 1px solid #000;
}
.judul-style {
    text-align: center; 
    margin-top: 50px; 
}
